  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../../public/styles/base.css">
  <title>Book Page</title>
</head>
<body>
  <h1>Great Reading Books</h1>
  <form method="POST">
    <fieldset>
    <legend>Search Book Author or Title</legend>

    <label>
      <input type="text" name="first-name" placeholder="Enter a title or author" >
    </label>

    <label>Title
      <input type="radio" name="title" value="title">
    </label>

    <label>Author
      <input type="radio" name="author" value="author">
    </label>

    <button>Search Google's API for Great Reading Material</button>
    </fieldset>
  </form>
</body>
</html>