<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./styles/base.css">
  <title>Book Page</title>
</head>
<body>
  <h1>Great Reading Books</h1>
  <form action="POST">
    <input name="public" />
    <input type="submit" />
    <fieldset>
    <legend>Search Book Author or Title</legend>

    <label>Title
      <input type="radio" name="title" value="title">
    </label>

    <label>Author
      <input type="radio" name="author" value="author">
    </label>

    
    </fieldset>
  </form>


  <main>
    <div> 
      <% books.forEach(book => { %>
      <h3><%= book.volumeInfo.title %></h3>
      <h4>by <%= book.volumeInfo.authors ? book.volumeInfo.authors.join(',') : 'unknowon' %></h4>
      <% }) %>
    </div>
  </main>
  
</body>
</html>